body {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Bebas Neue", cursive;
    padding: 2%;
    padding-left: 7%;
}

button {
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
    border: 5px solid  rgb(255, 255, 255);
    background-color: rgb(71, 71, 71);
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    color: blanchedalmond;
}

.game {
    width: 1100px;
    height: 440px;
    border: 1px solid blanchedalmond;
}

.hangman {
    display: flex;
    width: 1090px;
    height: 250px;
    border: 5px solid blanchedalmond;
    background-color: rgb(71, 71, 71);
}

.hangedman {
    color: white;
    text-align: center;
    width: 500px;
    height: 250px;
}

.hangedman img {
    width: 100%;
    height: 100%;
}

.word {
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    color: blanchedalmond;
    width: 800px;
    height: 250px;
    text-align: center;
    padding-top: 6.5%;
}

span {
    height: 45px;
    padding: 2%;
    border-bottom: 7px solid black;
}

.keyboard {
    width: 1100px;
    height: 200x;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.key--letter {
    color: blanchedalmond;
    font-size: 45px;
    padding: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: blanchedalmond 1px solid;
    background-color: rgb(36, 36, 36);
}

.key--letter:hover {
    background-color: rgb(0, 163, 204);
    transform: scale(1.05);
}
